body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: pink;
  height: 820px;
  width: 100%;
  position: relative;
}
.container .image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.container .image-container img {
  width: 138.5%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
  display: block;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.title .bh {
  font-size: 48px;
  font-family: sans-serif, Bold;
  color: #FFFFFF;
  margin-bottom: -30px;
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.title .bh .bh.hover {
  background-color: #8277d4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.title h3 {
  font-size: 22px;
  font-family: "Josefin Sans", Bold;
  color: #FFFFFF;
}
.title .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.title .form .buscador {
  width: 653px;
  height: 63px;
  font-family: Bold, sans-serif;
}
.title .form .type {
  font-family: Bold, sans-serif;
}
.title .form .btn {
  width: 116px;
  height: 64px;
  background-color: #5474FD;
  color: #FFFFFF;
  font-size: 26px;
  font-family: "Aleo";
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.title .form .btn:hover {
  background-color: #94c4ec;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.title .form .btn:active {
  background-color: #3144a3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer {
  width: 1769px;
  height: 80px;
  background-color: #5474FD;
}
footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer h2 {
  margin-left: 215px;
  margin-right: 300px;
  font-family: bold;
  color: #FFFFFF;
}
footer ul {
  list-style-type: none;
  margin-right: 394px;
  margin-left: -716px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer ul li {
  margin-left: 40px;
}
footer ul li .claseUno {
  margin-left: 600px;
}
footer ul li a {
  font-family: Bold;
  color: #FFFFFF;
  list-style: none;
  text-decoration: none;
}

.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/image\ 2.png);
  width: 1769px;
  height: 800px;
  position: relative;
}
.why .lecture {
  width: 560px;
  height: 187px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 288px;
  left: 210px;
}
.why .lecture h2 {
  font-size: 36px;
  font-family: sans-serif, Bold;
  color: #FFFFFF;
  margin: 0;
}
.why .lecture p {
  font-size: 16px;
  font-family: "Josefin Sans", Bold;
  color: #FFFFFF;
}
.why .lecture .btn {
  width: 288px;
  height: 63px;
  background-color: #5474FD;
  color: #FFFFFF;
  font-size: 26px;
  font-family: "Aleo";
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.why .lecture .btn:hover {
  background-color: #5474FD;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.why .lecture .btn:active {
  background-color: #3144a3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.why .bottons {
  width: 600px;
  height: 90px;
  position: absolute;
  top: 694px;
  left: 210px;
  margin-left: 147px;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.why .bottons .fa-solid {
  color: #FFFFFF;
  margin-left: 50px;
  font-size: 2em;
}
.why .bottons .fa-magnifying-glass {
  color: #5474FD;
}
.why .bottons .fa-light,
.why .bottons .fa-circle-check {
  color: #FF6363;
}
.why .bottons .fa-thumbs-up {
  color: #00A2FF;
}
.why .bottons a {
  margin-top: 51px;
  margin-left: -34px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Josefin Sans", Bold;
}

.spain {
  width: 1770px;
  height: 700px;
  background-image: url(../img/rectangule-uno.png);
  background-color: #00A2FF;
  position: relative;
}
.spain .paragrap {
  width: 543px;
  height: 374px;
  background-color: rgba(35, 35, 35, 0.9019607843);
  position: absolute;
  top: 227px;
  left: 123px;
}
.spain .paragrap h2 {
  font-size: 20px;
  color: #FFFFFF;
  margin: 30px;
}
.spain .paragrap h3 {
  font-size: 20px;
  color: #FFFFFF;
  margin: 30px;
}
.spain .paragrap p {
  font-size: 20px;
  font-family: "Josefin Sans", Bold;
  line-height: 28px;
  color: #FFFFFF;
  margin: 30px;
}
.spain .paragrap .btn {
  width: 228px;
  height: 63px;
  background-color: #5474FD;
  color: #FFFFFF;
  font-size: 26px;
  font-family: "Aleo";
  margin: 10px 30px 30px 30px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.spain .paragrap .btn:hover {
  background-color: #3144a3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.spain .paragrap .btn:active {
  background-color: #3144a3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.spain-second {
  width: 1770px;
  height: 700px;
  background-image: url(../img/Rectangule-dos.png);
  background-color: #00A2FF;
  position: relative;
}
.spain-second .paragrap {
  width: 543px;
  height: 374px;
  background-color: rgba(35, 35, 35, 0.9019607843);
  position: absolute;
  top: 227px;
  left: 676px;
}
.spain-second .paragrap h2 {
  font-size: 20px;
  color: #FFFFFF;
  margin: 30px;
}
.spain-second .paragrap h3 {
  font-size: 20px;
  color: #FFFFFF;
  margin: 30px;
}
.spain-second .paragrap p {
  font-size: 20px;
  font-family: "Josefin Sans", Bold;
  line-height: 28px;
  color: #FFFFFF;
  margin: 30px;
}
.spain-second .paragrap .btn {
  width: 228px;
  height: 63px;
  background-color: #5474FD;
  color: #FFFFFF;
  font-size: 26px;
  font-family: "Aleo";
  margin: 10px 30px 30px 30px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.spain-second .paragrap .btn:hover {
  background-color: #00A2FF;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.spain-second .paragrap .btn:active {
  background-color: #3144a3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.spain-third {
  width: 1770px;
  height: 700px;
  background-image: url(../img/Rectangle-tres.png);
  background-color: #00A2FF;
  position: relative;
}
.spain-third h2 {
  font-size: 38px;
  font-family: "Aleo";
  color: #FFFFFF;
  position: absolute;
  left: 610px;
  top: 128px;
}
.spain-third .photo {
  position: absolute;
  top: 247px;
  left: 246px;
  width: 445px;
  height: 245px;
}
.spain-third .photo img {
  -o-object-fit: contain;
     object-fit: contain;
}
.spain-third .third {
  position: absolute;
  top: 247px;
  left: 692px;
  color: #FFFFFF;
  background-color: #000000;
  width: 668px;
  height: 244px;
  padding: 20px;
}
.spain-third .third section {
  font-size: 20px;
  font-family: "Josefin Sans";
}
.spain-third .third section i {
  color: #5474FD;
  font-size: 30px;
}

.last-footer {
  width: 1773px;
  height: 271px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.last-footer .letter {
  font-size: 23px;
  font-family: "Josefin Sans";
  color: #FFFFFF;
  width: 300px;
  height: 50px;
  position: absolute;
  top: 46px;
  left: 798px;
}
.last-footer .letter h3 {
  margin: 0;
}
.last-footer .icon {
  font-size: 16px;
  color: #FFFFFF;
  width: 300px;
  height: 50px;
  position: absolute;
  top: 135px;
  left: 798px;
}
.last-footer .icon .fa-brands {
  margin: 10px;
}
.last-footer .icon .fa-linkedin {
  color: #5474FD;
}